<launch>
  <node pkg="two_kinect_merge" type="point_cloud_merger" name="point_cloud_merger" output="screen"/>

  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value="0.05" />
    <param name="frame_id" type="string" value="world" />
    <param name="sensor_model/max_range" value="5.0" />
    <remap from="cloud_in" to="/merged_cloud" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find two_kinect_merge)/launch/rviz/multi_kinect.rviz" required="true" />
</launch>